<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button w3-wide">INICIO</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/index.html#evento" class="w3-bar-item w3-button">EL EVENTO</a>
      <a href="/index.html#colaboradoras" class="w3-bar-item w3-button"><i class="fa fa-user"></i> COLABORADORAS</a>
      <a href="/index.html#programa" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o "></i> PROGRAMA</a>
      <a href="/index.html#conducta" class="w3-bar-item w3-button"><i class="fa fa-handshake-o"></i> CONDUCTA</a>
      <a href="/index.html#galeria" class="w3-bar-item w3-button"><i class="fa fa-th"></i> GALERÍA</a>
      <a href="/index.html#contacto" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACTO</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>